<a href="https://colab.research.google.com/github/suriarasai/BEAD2024/blob/main/colab/08_Data_Analysis_Examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Cleansing and Integration

Once the raw data available, we need to process, clean, and transform it into a format that helps with extracting meaningful, actionable business insights. This process of cleaning, processing, and transforming raw data is known as data cleansing and integration.

Every data analytics project consists of a few key stages, including data ingestion, data transformation, and loading into a data lakehouse. Only after the data passes through these stages does it become ready for consumption by end users for descriptive and predictive analytics.

There are two common industry practices for undertaking this process, widely known as Extract, Transform, Load (ETL) and Extract, Load, Transform (ELT).

In general, data cleansing may involve multiple functions for pre-preparing the raw data and such pipelines are composed using spark functions and user defined functions into pipelines and workflows. Some example includes:

*   Handling duplicates
*   Handling missing observations
*   Handling Outliers
*   Computing Correlations
*   Other meaningful visualization for inetraction between fatures

### Spark and Google Drive Mount
Following are the regular spark installation and google drive mount steps

In [4]:
# install pyspark using pip
!pip install --ignore-install -q pyspark
# install findspark using pip
!pip install --ignore-install -q findspark

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 200.5/200.5 kB 19.8 MB/s eta 0:00:00
  Building wheel for pyspark (setup.py) ... done

In [5]:
#from pyspark import SparkConf,SparkContext
from pyspark.sql import SparkSession
import collections
spark = SparkSession.builder.master("local").appName("Data Analysis").config('spark.ui.port', '4050').getOrCreate()

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Pyspark Functions
Here is a list of commonly used PySpark SQL functions along with a one-line description for each:

abs: Returns the absolute value of the numeric value.

* acos: Returns the arccosine of the numeric value.
* add_months: Adds a specified number of months to a date.
* approx_count_distinct: Returns the approximate number of distinct items in a group.
* avg: Computes the average of a group of values.
* base64: Encodes a string using Base64 encoding.
* bin: Returns the binary representation of a number.
* bround: Returns the value of the column rounded to the nearest integer.
* cbrt: Computes the cube root of the numeric value.
* ceil: Returns the smallest integer greater than or equal to a numeric value.
* coalesce: Returns the first non-null value in the list of arguments.
* col: Returns a Column based on the given column name.
* collect_list: Returns a list of objects with duplicates.
* collect_set: Returns a set of objects with duplicate elements eliminated.
* concat: Concatenates multiple input columns together into a single string.
* concat_ws: Concatenates multiple input columns together into a single string, with a given separator.
* conv: Converts a number from one base to another.
* corr: Computes the Pearson correlation coefficient between two columns.
* cos: Computes the cosine of the numeric value.
* count: Returns the number of rows in a group.
* countDistinct: Returns the number of distinct items in a group.
* covar_pop: Computes the population covariance between two columns.
* covar_samp: Computes the sample covariance between two columns.
* crc32: Computes a cyclic redundancy check value (CRC32) for a string.
* cume_dist: Computes the cumulative distribution of a value in a group of values.
* current_date: Returns the current date.
* current_timestamp: Returns the current timestamp.
* date_add: Adds a specified number of days to a date.
* date_format: Converts a date/timestamp/string to a string formatted as specified.
* date_sub: Subtracts a specified number of days from a date.
* datediff: Returns the number of days between two dates.
* dayofmonth: Returns the day of the month of a date.
* dayofweek: Returns the day of the week of a date.
* dayofyear: Returns the day of the year of a date.
* decode: Decodes a Base64 encoded string.
* degrees: Converts an angle measured in radians to degrees.
* dense_rank: Computes the dense rank of a value in a group of values.
* exp: Computes the exponential of the numeric value.
* explode: Creates a new row for each element in the given array or map column.
* expm1: Computes the exponential of a numeric value minus one.
* factorial: Computes the factorial of a numeric value.
* filter: Filters rows using the given condition.
* first: Returns the first value in a group of values.
* flatten: Merges an array of arrays into a single array.
* floor: Returns the largest integer less than or equal to a numeric value.
* from_unixtime: Converts a UNIX timestamp to a string formatted as specified.
* from_utc_timestamp: Converts a timestamp from UTC to the specified time zone.
* greatest: Returns the greatest value of the list of column values.
* grouping: Indicates whether a specified column in a GROUP BY list is aggregated or not.
* grouping_id: Returns the level of grouping.
* hex: Converts a numeric value to a hexadecimal string.
* hour: Returns the hour component of a timestamp.
* initcap: Capitalizes the first letter of each word in a string.
* input_file_name: Returns the name of the file being read.
* instr: Returns the position of the first occurrence of a substring in a string.
* isnan: Checks if the column contains NaN values.
* isnull: Checks if the column contains null values.
* json_tuple: Extracts the values associated with the given field names from a JSON string column.
* kurtosis: Computes the kurtosis of the numeric column.
* lag: Returns the value of a column from a previous row within the window.
* last: Returns the last value in a group of values.
* last_day: Returns the last day of the month of a date.
* lead: Returns the value of a column from the next row within the window.
* least: Returns the least value of the list of column values.
* length: Returns the length of a string.
* levenshtein: Computes the Levenshtein distance between two strings.
* lit: Creates a Column of literal value.
* locate: Returns the position of the first occurrence of a substring in a string.
* log: Computes the logarithm of the numeric value.
* log10: Computes the base 10 logarithm of the numeric value.
* log1p: Computes the natural logarithm of one plus the numeric value.
* log2: Computes the base 2 logarithm of the numeric value.
* lower: Converts a string to lowercase.
* lpad: Left-pads a string with another string.
* ltrim: Trims the spaces from the left end of the string.
* max: Returns the maximum value in a group of values.
* md5: Computes the MD5 hash of a string.
* mean: Computes the mean of a group of values.
* min: Returns the minimum value in a group of values.
* minute: Returns the minute component of a timestamp.
* month: Returns the month component of a date.
* months_between: Returns the number of months between two dates.
* nanvl: Returns a specified value if the column is NaN.
* next_day: Returns the next date of the specified day of the week after a date.
* ntile: Divides rows into N buckets.
* percent_rank: Computes the relative rank of a value in a group of values.
* posexplode: Creates a new row for each element in the given array or map column, with position.
* pow: Computes the power of the numeric value.
* quarter: Returns the quarter of the year of a date.
* radians: Converts an angle measured in degrees to radians.
* rand: Generates a random number between 0 and 1.
* randn: Generates a random number from the standard normal distribution.
* regexp_extract: Extracts a match from a string using a regular expression.
* regexp_replace: Replaces a substring in a string using a regular expression.
* repeat: Repeats a string a specified number of times.
* reverse: Reverses the characters in a string.
* rint: Returns the integer closest to the numeric value.
* round: Rounds a numeric value to the specified number of decimal places.
* row_number: Assigns a unique, sequential number to each row within the window.
* rpad: Right-pads a string with another string.
* rtrim: Trims the spaces from the right end of the string.
* second: Returns the second component of a timestamp.
* sha1: Computes the SHA-1 hash of a string.
* sha2: Computes the SHA-2 hash of a string with the specified bit length.
* shiftLeft: Bitwise left shift.
* shiftRight: Bitwise right shift.
* shiftRightUnsigned: Unsigned bitwise right shift.
* signum: Returns the sign of the numeric value.
* sin: Computes the sine of the numeric value.
* size: Returns the size of an array or map.
* skewness: Computes the skewness of the numeric column.
* soundex: Returns the Soundex code of a string.
* split: Splits a string around matches of the given regular expression.
* sqrt: Computes the square root of the numeric value.
* stddev: Computes the standard deviation of a group of values.
* stddev_pop: Computes the population standard deviation of a group of values.
* stddev_samp: Computes the sample standard deviation of a group of values.
* struct: Creates a new struct column.
* substr: Returns a substring of a string.

In [31]:
# Functions available in PySpark
from pyspark.sql import functions
# Similar to python, we can use the dir function to view the avaiable functions
print(dir(functions))

['Any', 'ArrayType', 'Callable', 'Column', 'DataFrame', 'DataType', 'Dict', 'Iterable', 'JVMView', 'List', 'Optional', 'PandasUDFType', 'PySparkTypeError', 'PySparkValueError', 'SparkContext', 'StringType', 'StructType', 'TYPE_CHECKING', 'Tuple', 'Type', 'Union', 'UserDefinedFunction', 'UserDefinedTableFunction', 'ValuesView', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_create_column_from_literal', '_create_lambda', '_create_py_udf', '_create_py_udtf', '_from_numpy_type', '_get_jvm_function', '_get_lambda_parameters', '_invoke_binary_math_function', '_invoke_function', '_invoke_function_over_columns', '_invoke_function_over_seq_of_columns', '_invoke_higher_order_function', '_options_to_str', '_test', '_to_java_column', '_to_seq', '_unresolved_named_lambda_variable', 'abs', 'acos', 'acosh', 'add_months', 'aes_decrypt', 'aes_encrypt', 'aggregate', 'any_value', 'approxCountDistinct', 'approx_count_distinct', 'approx_percentile', 'array', 'array_agg', 'array_append', 'array_compact', 'array_contains', 'array_distinct', 'array_except', 'array_insert', 'array_intersect', 'array_join', 'array_max', 'array_min', 'array_position', 'array_prepend', 'array_remove', 'array_repeat', 'array_size', 'array_sort', 'array_union', 'arrays_overlap', 'arrays_zip', 'asc', 'asc_nulls_first', 'asc_nulls_last', 'ascii', 'asin', 'asinh', 'assert_true', 'atan', 'atan2', 'atanh', 'avg', 'base64', 'bin', 'bit_and', 'bit_count', 'bit_get', 'bit_length', 'bit_or', 'bit_xor', 'bitmap_bit_position', 'bitmap_bucket_number', 'bitmap_construct_agg', 'bitmap_count', 'bitmap_or_agg', 'bitwiseNOT', 'bitwise_not', 'bool_and', 'bool_or', 'broadcast', 'bround', 'btrim', 'bucket', 'call_function', 'call_udf', 'cardinality', 'cast', 'cbrt', 'ceil', 'ceiling', 'char', 'char_length', 'character_length', 'coalesce', 'col', 'collect_list', 'collect_set', 'column', 'concat', 'concat_ws', 'contains', 'conv', 'convert_timezone', 'corr', 'cos', 'cosh', 'cot', 'count', 'countDistinct', 'count_distinct', 'count_if', 'count_min_sketch', 'covar_pop', 'covar_samp', 'crc32', 'create_map', 'csc', 'cume_dist', 'curdate', 'current_catalog', 'current_database', 'current_date', 'current_schema', 'current_timestamp', 'current_timezone', 'current_user', 'date_add', 'date_diff', 'date_format', 'date_from_unix_date', 'date_part', 'date_sub', 'date_trunc', 'dateadd', 'datediff', 'datepart', 'day', 'dayofmonth', 'dayofweek', 'dayofyear', 'days', 'decimal', 'decode', 'degrees', 'dense_rank', 'desc', 'desc_nulls_first', 'desc_nulls_last', 'e', 'element_at', 'elt', 'encode', 'endswith', 'equal_null', 'every', 'exists', 'exp', 'explode', 'explode_outer', 'expm1', 'expr', 'extract', 'factorial', 'filter', 'find_in_set', 'first', 'first_value', 'flatten', 'floor', 'forall', 'format_number', 'format_string', 'from_csv', 'from_json', 'from_unixtime', 'from_utc_timestamp', 'functools', 'get', 'get_active_spark_context', 'get_json_object', 'getbit', 'greatest', 'grouping', 'grouping_id', 'has_numpy', 'hash', 'hex', 'histogram_numeric', 'hll_sketch_agg', 'hll_sketch_estimate', 'hll_union', 'hll_union_agg', 'hour', 'hours', 'hypot', 'ifnull', 'ilike', 'initcap', 'inline', 'inline_outer', 'input_file_block_length', 'input_file_block_start', 'input_file_name', 'inspect', 'instr', 'isnan', 'isnotnull', 'isnull', 'java_method', 'json_array_length', 'json_object_keys', 'json_tuple', 'kurtosis', 'lag', 'last', 'last_day', 'last_value', 'lcase', 'lead', 'least', 'left', 'length', 'levenshtein', 'like', 'lit', 'ln', 'localtimestamp', 'locate', 'log', 'log10', 'log1p', 'log2', 'lower', 'lpad', 'ltrim', 'make_date', 'make_dt_interval', 'make_interval', 'make_timestamp', 'make_timestamp_ltz', 'make_timestamp_ntz', 'make_ym_interval', 'map_concat', 'map_contains_key', 'map_entries', 'map_filter', 'map_from_arrays', 'map_from_entries', 'map_keys', 'map_values', 'map_zip_with', 'mask', 'max', 'max_by', 'md5', 'mean', 'median', 'min', 'min_by', 'minute', 'mode', 'monotonically_increasing_id', 'month', 'months', 'months_between', 'named_struct', 'nanvl', 'negate', 'negative', 'next_day', 'now', 'np', 'nth_value', 'ntile', 'nullif', 'nvl', 'nvl2', 'octet_length', 'overlay', 'overload', 'pandas_udf', 'parse_url', 'percent_rank', 'percentile', 'percentile_approx', 'pi', 'pmod', 'posexplode', 'posexplode_outer', 'position', 'positive', 'pow', 'power', 'printf', 'product', 'quarter', 'radians', 'raise_error', 'rand', 'randn', 'rank', 'reduce', 'reflect', 'regexp', 'regexp_count', 'regexp_extract', 'regexp_extract_all', 'regexp_instr', 'regexp_like', 'regexp_replace', 'regexp_substr', 'regr_avgx', 'regr_avgy', 'regr_count', 'regr_intercept', 'regr_r2', 'regr_slope', 'regr_sxx', 'regr_sxy', 'regr_syy', 'repeat', 'replace', 'reverse', 'right', 'rint', 'rlike', 'round', 'row_number', 'rpad', 'rtrim', 'schema_of_csv', 'schema_of_json', 'sec', 'second', 'sentences', 'sequence', 'session_window', 'sha', 'sha1', 'sha2', 'shiftLeft', 'shiftRight', 'shiftRightUnsigned', 'shiftleft', 'shiftright', 'shiftrightunsigned', 'shuffle', 'sign', 'signum', 'sin', 'sinh', 'size', 'skewness', 'slice', 'some', 'sort_array', 'soundex', 'spark_partition_id', 'split', 'split_part', 'sqrt', 'stack', 'startswith', 'std', 'stddev', 'stddev_pop', 'stddev_samp', 'str_to_map', 'struct', 'substr', 'substring', 'substring_index', 'sum', 'sumDistinct', 'sum_distinct', 'sys', 'tan', 'tanh', 'timestamp_micros', 'timestamp_millis', 'timestamp_seconds', 'toDegrees', 'toRadians', 'to_binary', 'to_char', 'to_csv', 'to_date', 'to_json', 'to_number', 'to_str', 'to_timestamp', 'to_timestamp_ltz', 'to_timestamp_ntz', 'to_unix_timestamp', 'to_utc_timestamp', 'to_varchar', 'transform', 'transform_keys', 'transform_values', 'translate', 'trim', 'trunc', 'try_add', 'try_aes_decrypt', 'try_avg', 'try_divide', 'try_element_at', 'try_multiply', 'try_remote_functions', 'try_subtract', 'try_sum', 'try_to_binary', 'try_to_number', 'try_to_timestamp', 'typeof', 'ucase', 'udf', 'udtf', 'unbase64', 'unhex', 'unix_date', 'unix_micros', 'unix_millis', 'unix_seconds', 'unix_timestamp', 'unwrap_udt', 'upper', 'url_decode', 'url_encode', 'user', 'var_pop', 'var_samp', 'variance', 'version', 'warnings', 'weekday', 'weekofyear', 'when', 'width_bucket', 'window', 'window_time', 'xpath', 'xpath_boolean', 'xpath_double', 'xpath_float', 'xpath_int', 'xpath_long', 'xpath_number', 'xpath_short', 'xpath_string', 'xxhash64', 'year', 'years', 'zip_with']

#### Downloading and preprocessing Data from GIT
You can load data directly from github repositories with public access as shown below.

In [15]:
!rm employees.csv
!wget https://github.com/suriarasai/BEAD2024/raw/main/data/cleanse/employees.csv
!ls

--2024-07-19 19:58:22--  https://github.com/suriarasai/BEAD2024/raw/main/data/cleanse/employees.csv
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/suriarasai/BEAD2024/main/data/cleanse/employees.csv [following]
--2024-07-19 19:58:22--  https://raw.githubusercontent.com/suriarasai/BEAD2024/main/data/cleanse/employees.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 170 [text/plain]
Saving to: ‘employees.csv’

employees.csv       100%[===================>]     170  --.-KB/s    in 0s

2024-07-19 19:58:22 (4.15 MB/s) - ‘employees.csv’ saved [170/170]

drive  employees.csv  sample_data

In [16]:

# Load data from csv to a dataframe.
# header=True means PySpark will infer the column names from the first line of the CSV file.
# inferSchema=True means PySpark will infer the data types of each column
df_pyspark = spark.read.csv("employees.csv", header=True, inferSchema=True)
df_pyspark.show()

+----------+----+----------+------+
|      Name| Age|Experience|Salary|
+----------+----+----------+------+
|   Dilbert|  23|         1|  5000|
|     Alice|  25|         4|  7000|
|     Wally|  30|         8|  8000|
|Point Head|NULL|         6| 10000|
|   Dogbert|  21|      NULL|  6000|
|   Catbert|  42|        16| 15000|
|   Ratbert|  56|        23| 18000|
|      NULL|  26|      NULL|  NULL|
|      NULL|NULL|         5| 11000|
+----------+----+----------+------+

### Handling Missing Values
PySpark, an interface for Apache Spark in Python, provides robust tools for handling missing values in large datasets, making it invaluable for data preprocessing. With PySpark, users can easily detect and address missing values using built-in functions such as dropna() and fillna(). The dropna() function allows the removal of rows or columns containing null values, while fillna() facilitates filling missing values with specified constants or statistical measures like mean or median. These capabilities ensure data integrity and enable seamless, efficient processing of large-scale data, enhancing the overall data analysis workflow.

In [17]:
# drop nan or null value whole row
df_pyspark.na.drop().show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Dilbert| 23|         1|  5000|
|  Alice| 25|         4|  7000|
|  Wally| 30|         8|  8000|
|Catbert| 42|        16| 15000|
|Ratbert| 56|        23| 18000|
+-------+---+----------+------+

In [18]:
# Here data drops if in a row we have all the values are null
df_pyspark.na.drop(how="all").show()

+----------+----+----------+------+
|      Name| Age|Experience|Salary|
+----------+----+----------+------+
|   Dilbert|  23|         1|  5000|
|     Alice|  25|         4|  7000|
|     Wally|  30|         8|  8000|
|Point Head|NULL|         6| 10000|
|   Dogbert|  21|      NULL|  6000|
|   Catbert|  42|        16| 15000|
|   Ratbert|  56|        23| 18000|
|      NULL|  26|      NULL|  NULL|
|      NULL|NULL|         5| 11000|
+----------+----+----------+------+

In [19]:
# in order to drop the rows even if one null value it is by default in normal drop
df_pyspark.na.drop(how="any").show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Dilbert| 23|         1|  5000|
|  Alice| 25|         4|  7000|
|  Wally| 30|         8|  8000|
|Catbert| 42|        16| 15000|
|Ratbert| 56|        23| 18000|
+-------+---+----------+------+

In [20]:
# threshold
# to check if there is minimum threshold of specified null values
df_pyspark.na.drop(how="any", thresh=2).show()

+----------+----+----------+------+
|      Name| Age|Experience|Salary|
+----------+----+----------+------+
|   Dilbert|  23|         1|  5000|
|     Alice|  25|         4|  7000|
|     Wally|  30|         8|  8000|
|Point Head|NULL|         6| 10000|
|   Dogbert|  21|      NULL|  6000|
|   Catbert|  42|        16| 15000|
|   Ratbert|  56|        23| 18000|
|      NULL|NULL|         5| 11000|
+----------+----+----------+------+

In [21]:
df_pyspark.na.drop(how="any", thresh=3).show()

+----------+----+----------+------+
|      Name| Age|Experience|Salary|
+----------+----+----------+------+
|   Dilbert|  23|         1|  5000|
|     Alice|  25|         4|  7000|
|     Wally|  30|         8|  8000|
|Point Head|NULL|         6| 10000|
|   Dogbert|  21|      NULL|  6000|
|   Catbert|  42|        16| 15000|
|   Ratbert|  56|        23| 18000|
+----------+----+----------+------+

In [22]:
# Subset it will delete null value rows from only selected column
df_pyspark.na.drop(how="any", subset=["Experience"]).show()

+----------+----+----------+------+
|      Name| Age|Experience|Salary|
+----------+----+----------+------+
|   Dilbert|  23|         1|  5000|
|     Alice|  25|         4|  7000|
|     Wally|  30|         8|  8000|
|Point Head|NULL|         6| 10000|
|   Catbert|  42|        16| 15000|
|   Ratbert|  56|        23| 18000|
|      NULL|NULL|         5| 11000|
+----------+----+----------+------+

In [23]:
# Subset it will delete null value rows from only selected column
df_pyspark.na.drop(how="any", subset=["Age"]).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Dilbert| 23|         1|  5000|
|  Alice| 25|         4|  7000|
|  Wally| 30|         8|  8000|
|Dogbert| 21|      NULL|  6000|
|Catbert| 42|        16| 15000|
|Ratbert| 56|        23| 18000|
|   NULL| 26|      NULL|  NULL|
+-------+---+----------+------+

In [24]:
## filling missing value
df_pyspark.na.fill("Missing Value").show()
# Here the interger value was not filled only the strings were filled

+-------------+----+----------+------+
|         Name| Age|Experience|Salary|
+-------------+----+----------+------+
|      Dilbert|  23|         1|  5000|
|        Alice|  25|         4|  7000|
|        Wally|  30|         8|  8000|
|   Point Head|NULL|         6| 10000|
|      Dogbert|  21|      NULL|  6000|
|      Catbert|  42|        16| 15000|
|      Ratbert|  56|        23| 18000|
|Missing Value|  26|      NULL|  NULL|
|Missing Value|NULL|         5| 11000|
+-------------+----+----------+------+

In [25]:
# Reload Data
# In case you also want to treat numberic values this way, do not read the sheet with inferschema
df_pyspark = spark.read.csv("employees.csv", header=True, inferSchema=False)
df_pyspark.na.fill("Missing Value").show()

+-------------+-------------+-------------+-------------+
|         Name|          Age|   Experience|       Salary|
+-------------+-------------+-------------+-------------+
|      Dilbert|           23|            1|         5000|
|        Alice|           25|            4|         7000|
|        Wally|           30|            8|         8000|
|   Point Head|Missing Value|            6|        10000|
|      Dogbert|           21|Missing Value|         6000|
|      Catbert|           42|           16|        15000|
|      Ratbert|           56|           23|        18000|
|Missing Value|           26|Missing Value|Missing Value|
|Missing Value|Missing Value|            5|        11000|
+-------------+-------------+-------------+-------------+

In [26]:
# filing null values by mean you can choose median or mode also but for this infer=True is must to take numeric value as integer and not as a string
from pyspark.ml.feature import Imputer
df_pyspark = spark.read.csv("employees.csv", header=True, inferSchema=True)
imputer = Imputer(inputCols=["Age", "Experience", "Salary"], outputCols=["{}_imputed".format(c) for c in ["Age", "Experience", "Salary"]]).setStrategy("mean")
imputer.fit(df_pyspark).transform(df_pyspark).show()

+----------+----+----------+------+-----------+------------------+--------------+
|      Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+----------+----+----------+------+-----------+------------------+--------------+
|   Dilbert|  23|         1|  5000|         23|                 1|          5000|
|     Alice|  25|         4|  7000|         25|                 4|          7000|
|     Wally|  30|         8|  8000|         30|                 8|          8000|
|Point Head|NULL|         6| 10000|         31|                 6|         10000|
|   Dogbert|  21|      NULL|  6000|         21|                 9|          6000|
|   Catbert|  42|        16| 15000|         42|                16|         15000|
|   Ratbert|  56|        23| 18000|         56|                23|         18000|
|      NULL|  26|      NULL|  NULL|         26|                 9|         10000|
|      NULL|NULL|         5| 11000|         31|                 5|         11000|
+----------+----+----------+------+-----------+------------------+--------------+

### Handling Outliers
PySpark is highly effective in handling outliers in large datasets, offering tools that streamline data cleaning and preprocessing. Using the DataFrame API, users can easily identify and manage outliers by leveraging statistical functions and custom logic. For example, to detect outliers in a dataset, one can compute the interquartile range (IQR) and then filter out values that fall outside the lower and upper bounds defined by the IQR. Here's a practical example: suppose we have a DataFrame df with a column values. To remove outliers, we calculate the IQR and filter the DataFrame as follows:

In [28]:

# Sample data creation
data = [(1,), (2,), (5,), (7,), (10,), (12,), (20,), (100,)]
columns = ["values"]
df = spark.createDataFrame(data, columns)
df.show()

+------+
|values|
+------+
|     1|
|     2|
|     5|
|     7|
|    10|
|    12|
|    20|
|   100|
+------+

In [30]:
from pyspark.sql.functions import col, percentile_approx
# Calculate the IQR
q1, q3 = df.approxQuantile("values", [0.25, 0.75], 0.05)
iqr = q3 - q1
lower_bound = q1 - 1.5 * iqr
upper_bound = q3 + 1.5 * iqr

# Filter out the outliers
df_filtered = df.filter((col("values") >= lower_bound) & (col("values") <= upper_bound))
df_filtered.show()

+------+
|values|
+------+
|     1|
|     2|
|     5|
|     7|
|    10|
|    12|
|    20|
+------+

===Workshop Ends Here==